# SPDX-License-Identifier: MIT
#
# Rivide Post-Quantum Cryptography Library
# Copyright (C) 2026 Moh. Ananda Firmansyah Putra

CompileFlags:
  CompilationDatabase: "build"
  Add:
    - "-std=c99"
    - "-Iinclude"
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
